<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Username" value="Q4wT1/j1YTpzOSE2TXXghg=="/>
		<add key="Password" value="Q4wT1/j1YTpzOSE2TXXghg=="/>
		<add key="DefaultFilePath" value="D:\PRAL_FBR\praims02\932461.ims"/>
		<add key="DbPassword" value="pral@123321"/>
		<add key="backupDir" value="C:\ims_files_backup"/>
		<add key="ApiUrl" value="http://10.100.224.191:8280/pralinv/v1/Invoice/GetEncryptedKey"/>
		<add key="BearerToken" value="042e54ad-43ed-3429-9a4d-37440b1e46dd"/>
		<add key="CookieValue" value="cookiesession1=678B2A4ECD6D18B836C0E9B8B45D3E30"/>
		<add key="AESKey" value="Your16CharKey123" />
		<add key="AESIV" value="Your16CharIV1234" />
		<add key="DefaultDBFilePath" value="C:\\POS_DB\\POSPRA.db" />
		<!-- Dynamic logo resource -->
		<add key="BusinessLOGO" value="pra_Comp_logo"/>
		<add key="LOGO" value="loginPRAlogo"/>
		<!-- Dynamic values for numbers -->
		<add key="generalinquiryNo" value="042-99205481" />
		<add key="eServicesNo" value="042-99205477-6" />
		<add key="website" value="www.pra.punjab.gov.pk"/>
		
		<add key="branchName" value="business Name"/>
		<add key="branchAddress" value="branch Address"/>
		<add key="businessName" value="business Name"/>
	</appSettings>
</configuration>
