<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="Username" value="GVwnOGi7FFD9Gc4B0aTc/g=="/>
		<add key="Password" value="GVwnOGi7FFD9Gc4B0aTc/g=="/>
		<add key="DefaultFilePath" value="D:\PRAL_FBR\praims02\932461.ims"/>
		<add key="DbPassword" value="pral@123321"/>
		<add key="backupDir" value="C:\ims_files_backup"/>
		<add key="ApiUrl" value="http://10.100.224.191:8280/pralinv/v1/Invoice/GetEncryptedKey"/>
		<add key="BearerToken" value="042e54ad-43ed-3429-9a4d-37440b1e46dd"/>
		<add key="CookieValue" value="cookiesession1=678B2A4ECD6D18B836C0E9B8B45D3E30"/>
		<add key="AESKey" value="Your16CharKey123" />
		<add key="AESIV" value="Your16CharIV1234" />
		<add key="DefaultDBFilePath" value="C:\\POS_DB\\POSPRA.db" />
		<add key="DefaultDBPassword" value="1234567" />
		<!-- Dynamic logo resource -->
		<add key="BusinessLOGO" value="pra_Comp_logo"/>
		<add key="LOGO" value="loginPRAlogo"/>
		<add key="posCOMP" value="pra_Comp_logo"/>
		<add key ="pos" value="128762"/>
		<add key="LOGO-new" value="POS_Component_dark"/>
		<add key="CompLogobase64" value="" />
		<!-- Dynamic values for numbers -->
		<add key="generalinquiryNo" value="042-99205481" />
		<add key="eServicesNo" value="042-99205477-6" />
		<add key="website" value="www.pra.punjab.gov.pk"/>

		<add key="branchName" value="5334-Food Panda, islamabad"/>
		<add key="branchAddress" value="I-9/3,Islamabad"/>
		<add key="businessName" value="ATLAS INSURANCE LIMITED"/>
		<add key="EC" value="36b8dd382b014af3e053ecf1322f6db2"/>
		<!--<add key="BaseUrl" value="http://10.16.68.215:8050/"/>-->
		<add key="SelfHostUrl" value="http://localhost:8524/"/>
		<add key="BaseUrl" value="http://10.105.200.161/"/>
		<add key="Environment" value="Sandbox" />
		<add key="WinFormsAppConfigPath" value="D:\\Project\\POS_2.0\\POSPRA-WinFormsUI\\App.config" />
	</appSettings>
</configuration>
