<configuration>
  <appSettings>
    <add key="LOGO" value="pra_Comp_logo" />
    <add key="PRAL" value="pralLogo" />
    <add key="DefaultDBFilePath" value="C:\\POS_DB\\POSPRA.db" />
    <add key="DefaultDBPassword" value="Pral@123" />
    <add key="DbPassword" value="pral@123321" />
    <add key="backupDir" value="C:\ims_files_backup" />
    <add key="DefaulIMStFilePath" value="D:\PRAL_FBR\praims02\932461.ims" />
    <add key="FiscalServiceName" value="IMS_Fiscalization" />
    <add key="Token" value="8d2fb2e2-c205-3eb2-ae1b-b4bdb8707b7e" />
    <add key="BaseUrl" value="http://10.100.224.191:8280/prapos/v1/" />
  </appSettings>
</configuration>