<configuration>
  <appSettings>
    <add key="EncryptedSettings" value="NS/mQpoIrkYfHxIwi72FbXJNEWBAI6JeFAVm+Hg4+bnTvGGQUmzwd55iZjksh4/fotZoNeajncCZ0e08gbF1KfXpHY9MamstY8w7rTpGI4AN+l5Q7vpCD81JU+QEIgT6KGwo3NPCJfE5qqZAH3tuC5M2ZJiO36/OSucVeuvsJgv+qp5eORzIKoIjQYQkfAbKRiThErayqhHeXx7+tmM3OQiZv2YM2dG1+DXfarPG0j4hl29JkJVveWwHBgqpZvaQ6jikrZvZZcAsd2ppMLOWP2haHEtZ0rCK9h5wJrf9dFWPw3siSm3/HaAxxbp4dneWdigMGyRXaqeap48JL7+kO65deinoz+GWXKwdExgE9XxZAeAOUOVKRBIXveikJKqo1zu32dBBC7F1PqJqnoNidgpY9AzK2swZemj4frskwqCG0XE0KZhpOOhG3ERND3fwuwfEcbsQM4gUREd67lgNH2lXn26t7t9uS7w2OgkiizNKQgZCmMRi22kKrysAbodNYRBIzOH+9CxntGNfl8g3WuS55bQBKQu/kfO/+hX04C0SjqUHHZS6dCnXkg4jtb5ALEfKsafNus8bjB3qmI7Og1sFr07JdvMz6IaP1mDEm2o=" />
  </appSettings>
</configuration>