<configuration>
  <appSettings>
    <add key="EncryptedSettings" value="ktWZg+9Df3ZuwjMldQXSiO0U0qeE55MdpmpLLbuUwwQzg7LeT/zUqNWW3AcULU2PH4HbeQokV6L/SsHyjZlEAoxgASymLVXsLXS926ODSEVLkVD2fsyKXwzGfHhr+vLpf/aJrZR5v+JG3/tIODSQEYm9TCSIT/jlmHKGcpLH0BWAB97DBUOg1L/Gisc3ZU14ZiDoz/dKP1O9PFL1wIul0gE4dyN0WCu9sWPtVio1btngc1hHz0Kb+RvwDOja2lC041f9Gm3TSanhmJ4lrfMm/EL5siI8iIW5AVzjgaa+3/bG67LyImksBXKz9UhGbXCflSUDjrFHozYWcbRFTYdV5aA+2yXuBby0W2S+6QHl20t2CZue22WckwtRg0BcF7WQB/0V9BLSZiDI+d50wTQy51NFbxUJSK9536xiNs7+ksrkTNBq4xfByIOL7rM3yECPsnffmXvc6bsNIyrnrbHd1N+LZJhXFLW8b6rIZq23H6OHoP8WClWGqzoBlydZ+Xgk8wUC7pp0+hSoygWjmneBZCt2UyoD5fN49HWIlmGNqSbkYvZM129+thShzXikyAs/fRkbtZYY0daVbSXAeYuBVMTLsoL033Y3lX4wkzDEMb3aO9TD32ANMZOou5kOenE/H/GKjZ8p+1vKBqZWL1PUfuJvnZq4GWpveJtmGox2hEUAB9KucdTH/m+vc7iJJI7dMZlqP/JmLtJuJsQwudAuJA==" />
  </appSettings>
</configuration>