<configuration>
  <appSettings>
    <add key="EncryptedSettings" value="rUo//QtPs4gTqzHBZVjDF9LWZrtWUAH2LHB5IcqOpLgKxwdn7wOeQp2wRAFL9xbU1CzcJSLfclsAZR0/qpbYyKd8Oly45pb26c1hO1/oLKgOaBnfwsZQdBmpT2q7OtQPmooeq6NiK4wZy/L0TE5RXY/5XOA8c3BeooFOEzjftRUMqFGgvq3GKLOl7vgT8ctUPO5fTmxgH9gV+MxCtp7Eg3jcO0sa2JKEWmkN7trtXlt7hzF52P1jeJlYPqu8buARaehU9FsJMXa2M4c3xKSJiyjgoJe23NCBNe+JpMiht0Bq/JvjAStCqHXpaDlnY3QHvYhQuORbGP7gTirOFMTvBOnoajPgIlp27ZRLhvcrg1tFGaDubr/iqwJrAdC6O+vd/8AoePN0DBAt1tCR5l4iFTQo8uh9CY6xusGUf4JNJexGIS/OtIGka97Mx+wZ6ZrnuBJUzDVQV/pkUK6uhlZLiZPEecyO2s8W+ccmpGJnjdjvc7v7jW0Jr++OhBlLyruS" />
  </appSettings>
</configuration>