<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Add your API endpoint here -->
		<add key="ApiUrl" value="http://10.105.200.161/api/Live/authenticate-by-mac" />
		<add key="mac" value="0293-33E7-F772-D133-52BE-B65E-8E17-A9FE" />
		<add key="LOGO" value="loginPRAlogo" />
		<add key="DefaultDBFilePath" value="C:\\POS_DB\\POSPRA.db" />
		 


	</appSettings>
</configuration>
