<configuration>
  <appSettings>
    <add key="Username" value="GVwnOGi7FFD9Gc4B0aTc/g==" />
    <add key="Password" value="GVwnOGi7FFD9Gc4B0aTc/g==" />
    <add key="ApiUrl" value="http://10.100.224.191:8280/pralinv/v1/Invoice/GetEncryptedKey" />
    <add key="BearerToken" value="042e54ad-43ed-3429-9a4d-37440b1e46dd" />
    <add key="DefaultDBFilePath" value="C:\POS_DB\POSPRA.db" />
    <add key="DefaultDBPassword" value="Pral@123" />
    <add key="BusinessLOGO" value="pra_Comp_logo" />
    <add key="LOGO" value="loginPRAlogo" />
    <add key="posCOMP" value="pra_Comp_logo" />
    <add key="pos" value="128762" />
    <add key="LOGO-new" value="POS_Component_dark" />
    <add key="CompLogobase64" value="" />
    <add key="generalinquiryNo" value="042-99205481" />
    <add key="eServicesNo" value="042-99205477-6" />
    <add key="website" value="www.pra.punjab.gov.pk" />
    <add key="branchName" value="5334-Food Panda, islamabad" />
    <add key="phoneNumber" value="123456789" />
    <add key="branchAddress" value="I-9/3,Islamabad" />
    <add key="businessName" value="ATLAS INSURANCE LIMITED" />
    <add key="EC" value="36b8dd382b014af3e053ecf1322f6db2" />
    <add key="SelfHostUrl" value="http://localhost:8524/" />
    <add key="BaseUrl" value="http://10.100.224.191:8280/prapos/v1/" />
    <add key="Token" value="8d2fb2e2-c205-3eb2-ae1b-b4bdb8707b7e" />
    <add key="Environment" value="Sandbox" />
  </appSettings>
</configuration>