<configuration>
	<appSettings>
		<add key="apiurl" value="http://10.100.224.191:8280/prapos/v1/Live/authenticate-by-mac" />
		<add key="environmentapiurl" value="http://10.105.200.161/api/Environment/" />
		<add key="mac" value="0293-33E7-F772-D133-52BE-B65E-8E17-A9FE" />
		<add key="LOGO" value="pra_Comp_logo" />
		<add key="PRAL" value="pralLogo" />
		<add key="DefaultDBFilePath" value="C:\\POS_DB\\POSPRA.db" />
		<add key="DefaultDBPassword" value="Pral@123" />
		<add key="DbPassword" value="pral@123321" />
		<add key="backupDir" value="C:\ims_files_backup" />
		<add key="DefaulIMStFilePath" value="D:\PRAL_FBR\praims02\932461.ims" />
		<add key="FiscalServiceName" value="IMS_Fiscalization" />
		<add key="IsProduction" value="false" />
		<add key="Token" value="8d2fb2e2-c205-3eb2-ae1b-b4bdb8707b7e" />
		<add key="BaseUrl" value="http://10.100.224.191:8280/prapos/v1/" />
	</appSettings>
</configuration>